
li a
{
    display: block;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid black;
}
li a:hover
{
    background-color: red;
}
.Esq
{
	width:35%;
	height:100%;
	float: left;
}
.textr
{
	color: transparent;
}
div.transbox {
	border: 1px solid black;
	list-style-type: none;
	width:30%;
	height:32%;
	float: left;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}

div.transbox p {
  text-align: center;
  margin: 3%;
  font-weight: bold;
  color: #000000;
}
div.transbox input {
	border: 1px solid black;
	background-color: white;
  text-align: center;
  margin: 5%;
  font-weight: bold;
  color: #000000;
  opacity: none;
}